.box{
    margin: 5px;
    border: 1px solid;
}

.display-box{
    width: 150px;
    height: 150px;
}

.display-box:first-child{
    background-color: purple;
}
.display-box:nth-child(2){
    background-color: hotpink;
}
.display-box:nth-child(3){
    background-color:lightpink;
}
.display-box:nth-child(4){
    background-color: pink;
}
.display-box:last-child{
    background-color: deeppink;
}
.display-box:nth-child(5){
    background-color: rebeccapurple;
}

.box-um > div{
    display: inline;
}
.box-dois > div{
    display: block;
}
.box-tres > div{
    display: inline-block;
}
.box-quatro > div{
   display: none;
}
.box-cinco{
   height: 400px; 
   display: flex;
   justify-content: space-between; /*Ajusta o espaço dentro do container*/
   align-items: center; /*Alinha verticalmente*/
   flex-direction: row-reverse; /*Define a ordem, e se vai ser em coluna ou linha*/
   flex-wrap: wrap-reverse; /*wrap define se o conteudo vai ser ajustado ou multi-linha*/
}
.box-seis{
   display: inline-flex;
}



